/* ------- General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 12vw;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* ------- Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 16vw;
  color: #fff;
  margin-bottom: 10px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

/* ------- Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  font-weight: bold;
}

form label,
form input,
form select {
  margin-bottom: 10px;
}

form input,
form select {
  width: 100%;
  padding: 5px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* ------- Footer ------- */

footer {
  background-color: #ff385c;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #fff;
  margin: 0;
}

/* ------- Media Queries ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header nav {
    margin-top: 16px;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
  }

  form div {
    flex-direction: column;
  }

  form input,
  form select {
    width: auto;
  }

  form button {
    width: auto;
  }

  .group {
    flex-direction: row;
    align-items: flex-start;
  }

  .logo {
    font-size: 72px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 26px;
  }
}
